/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
html{
    font-size: 10px;
    line-height: 1.6;
}
body{
    width: 100%;
    min-height: 100vh;
    font-size: 15px;
    color: #333;
    background: seagreen;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 93%;
    padding: 15px;
    max-width:70rem ;
    min-height: 15rem;
    margin: 2rem auto;
    background: rgba(255,255,255,0.75 );
    border-radius: 10px;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
}
.form{
padding: 10px;
}
.form .form > *,.container > *{
    border-radius: 1rem;
}
.information{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
} 
.information > p{
    margin-right: 10px;
}
.information p .label {
    font-weight: bolder;
}
.information > span{
    color: #000;
}
.button{
    width: 100%;
    margin-top:1rem;
    padding: 1.5rem 1rem;
    border: 0;
    font-weight: bold;
    font-size: 1.8rem;
    position: relative;
    color: #fff;
    overflow: hidden;
    background: linear-gradient(118deg,#42CFF2,#4A66F3);
    transition: 0.5s linear;
}
.textarea{
    width:100%;
    min-height: 20rem;
    padding: 1.5rem;
    line-height: 1.3;
    font-size: 15px;
    color: seagreen;
    border: 2px solid aquamarine;
}
.thread-box{
    grid: 1.5rem;
    min-height: 5em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25em,1fr));

}
.thread{
    min-height: 5rem;
    padding: 1rem;
    margin: 0.5rem;
    background: #FAFDFE;
    border-radius: 0.75rem;
}

.tools{
    justify-content: end;
    margin-bottom: 0.75rem;
    align-items: center;
    display: flex;

}
.tools .index{
    margin-right: auto;
    padding: 0.5rem 2rem 0.5rem 1rem;
    background: teal;
    font-weight: bolder;
    font-size: 1.9rem;
    color: #fff;
}
.finish{
    display: inline-block;
    margin:0 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border:1px solid #F6F6F6;
    font-size: 1.7rem;
}
